.announcement-container{
    animation:  scrollreveall 1s ease 200ms backwards;
    z-index: 1000;
     position: fixed;
    top: 0; 
    display:flex;
    background: white;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E6E7E9;
    padding:8px;
    gap:1.5%;
    width: 99%;
}
.announcement-button{
    font-size:13px;
    border: 1px solid rgb(230,231,233);
    padding: 2px 8px 4px 8px;
    background: rgb(241,241,242);
    border-radius: 15px;
    font-weight: 400;
}
.announcement-sentence{
    font-size: 15px;
    font-weight:600;
}
@media screen and (max-width:500px){
    .announcement-container{
        width: fit-content;
    }
    .announcement-sentence{
       padding-left: 10px;
    }
    }


    @keyframes scrollreveall {
    
        from{
         opacity: 0;
         transform: translateY(-50px);
        } 
        to{
         opacity: 1;
         transform: translateY(0px);
        }
     }