.about-container{
    animation: scrollreveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     border-bottom: 1px solid #E6E7E9;
}
.about-head{
    margin-bottom: 10px;
}
.about-content{
    font-size: 17px;
    color: #5A6475;
    text-align: center;
    line-height: 25px;
    font-weight: 600;
   
}